/* .education-container {
    display: flex !important;
} */
.about-container {
  /* background-color: yellowgreen; */
  width: 100%;
  /* padding-top: 50px; */
  position: relative;
  justify-content: center;
  align-items: center;
  display: grid !important;
  grid-template-columns: repeat(1, minmax(540px, 1fr));
  grid-row: auto;
  grid-gap: 0 40px;
  margin: 50px auto;
  /* padding: 40px; */
  z-index: 0;
}
.about-container .box {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-color: #030303;
  /* background: linear-gradient(90deg, #030303, #0e0f0f); */
}
.about-container .box:last-child {
  background-color: #030303;
  /* background: linear-gradient(90deg, #030303, #0e0f0f); */
}
.about-container .box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  transform: skew(2deg, 2deg);
  z-index: -2;
  background-size: 400%;
  animation: animate-box 20s linear infinite;
}
.img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: fit-content;
  background-color: #030303;
  /* background: linear-gradient(90deg, #090a0b, #0e0f0f) !important; */
}
.img-box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  transform: skew(2deg, 2deg);
  z-index: -2;
  background-size: 400%;
  animation: animate-box 20s linear infinite;
}
.about-content-box {
  position: relative;
  padding: 20px;
  z-index: 0;
  display: flex;
  margin-left: 10%;
  flex: 3;
}
.about-content-box h2 {
  position: absolute;
  top: -60px;
  font-size: 10em;
  right: 20px;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}
.text-box {
  padding: 10px;
  margin-left: 8%;
  margin-right: 8%;
}
.box:hover .content-box h2 {
  top: -160px;
}
img {
  padding: 1rem;
  max-width: 150px;
  border-radius: 50%;
}

@keyframes animate-box {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.contact-box {
  display: flex;
  /* position: absolute; */
  bottom: 0;
}

.contact-point {
  /* flex: 1; */
  margin: 10px;
}
.find-me-on {
  /* flex: 3; */
  margin: 10px;
}
